In [1]:
!pip show mysql-connector-python
!pip show sqlalchemy

Name: mysql-connector-python
Version: 9.1.0
Summary: A self-contained Python driver for communicating with MySQL servers, using an API that is compliant with the Python Database API Specification v2.0 (PEP 249).
Home-page: https://dev.mysql.com/doc/connector-python/en/
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: C:\Users\Shiry\anaconda3\Lib\site-packages
Requires:
Required-by:
Name: SQLAlchemy
Version: 2.0.34
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: C:\Users\Shiry\anaconda3\Lib\site-packages
Requires: greenlet, typing-extensions
Required-by:

In [2]:
import pandas as pd

In [3]:
import mysql.connector

try:
    # Conexão ao banco de dados MySQL
    mydb = mysql.connector.connect(
        host="localhost",  # ou "127.0.0.1"
        user="root",       # seu nome de usuário do MySQL
        password="shinoskun1-T",  # sua senha do MySQL
        database="python_db"  # o nome do banco de dados
    )
    
    print("Conexão bem-sucedida!")

except mysql.connector.Error as err:
    print(f"Erro ao conectar ao MySQL: {err}")
except Exception as e:
    print(f"Ocorreu um erro inesperado: {e}")

Conexão bem-sucedida!

In [4]:
cursor = mydb.cursor()

In [5]:
cursor.execute('TRUNCATE TABLE categoria')
mydb.commit()

In [6]:
dados = pd.read_excel(r"c:\Users\Shiry\OneDrive\Área de Trabalho\ETL - GOOGLE BIG QUERY\Arquivos+google+bigquery\Arquivos google bigquery\Arquivos\Origem\arquivos_excel\Categoria.xlsx")
str(dados.columns).replace("'","")

'Index([id, name], dtype=object)'

In [7]:
dados.head(20)

    id                     name
0    0        Moda e Acessórios
1    1  Cosméticos e Perfumaria
2    2         Eletrodomésticos
3    3                   Livros
4    4                Celulares
5    5              Informática
6    6         Casa e Decoração
7    7              Eletrônicos
8    8          Esporte e Lazer
9    9       Brinquedos e Games
10  10                    teste
11  11                   chaves
12  12                  gavetas
13  13                     novo

In [8]:
from sqlalchemy import create_engine 
host="localhost"
user="root"
password="shinoskun1-T"
database="python_db"

engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')
dados.to_sql(name='categoria', con=engine, if_exists='replace', index=False)

14